.App {
  text-align: center;
}

.nav{
  color: black;
  background-color: white;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  align-content: center;
  justify-content: space-between;
  flex-direction: row;
  align-items: baseline;
}

.title{
  font-size: 20px;
  margin-left: 2%;
}

.button-container{
  display: flex;
  margin-top: 0.5%;
  width: auto;
}
.button-nav{
  cursor: pointer;
  margin-left: 1%;
  margin-bottom: 2%;
  background-color: transparent;
  border-bottom: hidden;
  border-left: none;
  border-top: none;
  border-right: none;
  color: #BAB6B4;
}
.button-nav:hover {
  border-bottom:2px solid #BAB6B4;
  border-left: none;
  border-top: none;
  border-right: none;
}

.image-container{
  width: 70%;
  background-image: url(./assets/images/banner.jpg);

}


.image{
  width: 30%;
  display: absolute;
}


.App-header {
  background: linear-gradient(105.29deg, rgba(37, 217, 195, 0.91) 13.98%, #25D9C3 13.99%, rgba(98, 192, 54, 0.47) 87.59%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
